doctype html
html
  head
    title
      | MazurikBlog
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand[href="/"]
            |  Mazurik Blog 
    .container
      ol.breadcrumb
        = render_breadcrumbs separator: '',tag: :li
      = yield
      footer
        .text-center
          |  © Aleksey Mazurik. 2016
